*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/www/auth.json
/www/node_modules
/www/public/build
/www/public/hot
/www/public/storage
/www/storage/*.key
/www/storage/pail
/www/vendor
Homestead.json
Homestead.yaml
Thumbs.db
